 /* 태그 초기화 */
 *{
    margin: 0;
    padding: 0;
    font: normal 12px '돋움';
}

ul, ol{list-style: none;}
a {text-decoration: none; color: #111;}
input,textarea {outline: none;}

#wrapper{
    width: 800px;
    height: auto;
    margin: 0 auto;
}
/* 헤더 */
header{
    width: 100%;
    height: 35px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
}
header > h3{
    float: left;
    font-weight: bold;
    color: #777;
    margin-top: 10px;
    margin-left: 10px;

}
/* 메인 */
main{
    width: 100%;
    height: auto;
}
/* 푸터 */
footer{
    width: 100%;
    height: 35px;
    background-color: #f7f7f7;
    border-top: 1px solid #ebebeb;
}
footer > p {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    color: #777;
}
/* 로그인 */
#user > .login{
    position: relative;
    width: 360px;
    height: auto;
    border: 1px solid #cfded8;
    box-sizing: border-box;
    margin: 100px auto;
}
#user > .login > form {
  
}
#user > .login > form > table {
    margin-left: 52px;
    margin-top: 30px;
    border-collapse: collapse;
    border-spacing: 0 ;
}
#user > .login > form > table tr {
  
}
#user > .login > form > table tr > td {} 
#user > .login > form > table img {width: 20px;}
#user > .login > form > table input {
    width: 162px;
    height: 22px;
    margin-left: 6px;
    margin-bottom: 4px;
    background-color: #f7f7f7;
    border: 1px solid #e4eaec;
}
#user > .login > form > .btnLogin {
    position: absolute;
    right: 50px;
    top: 30px;
    width: 60px;
    height: 52px;
    background-color: #fdfdfd;
    border: 1px solid #bebebe;
    color: #111;
}

#user > .login > div {
    width: 100%;
    height: 104px;
    background-color: #f5f6fa;
    border-top: 1px solid #cfded8 ;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
}
#user > .login > div > h3 {}
#user > .login > div > p {
    margin: 10px 0;
}
#user > .login > div > a {
    float: right;
}


/* 약관 */
#user > .terms {
    width: 600px;
    height: auto;
    box-sizing: border-box;
    margin: 60px auto;
    overflow: hidden;
}
#user > .terms > table {
     width: 100%;
     height: auto;
     border-collapse: collapse;
     border-spacing: 0;
     border-top: 2px solid #111;
}
#user > .terms > table > caption {
    text-align: left;
    font-weight: bold;
    padding: 10px 0;
    box-sizing: border-box;
}
#user > .terms > table tr {}
#user > .terms > table tr > td {
    border: 1px solid #e9e9e9;
    padding: 6px;
    box-sizing: border-box;
}
#user > .terms > table tr > td > textarea {
    width: 100%;
    height: 200px;
    resize: none;
    background-color: #f7f7f7;
    border:  1px solid #e4eaec;
    padding: 2px;
    box-sizing: border-box;
}
#user > .terms > table tr > td > label {float: right;}
#user > .terms > table tr > td > label > input[type=checkbox] {}
#user > .terms > p {
    float: right; 
    margin-top: 10px;
}




/* 회원가입 */
*{
    margin: 0;
    padding: 0;
    font: normal 12px '돋움';
    border-collapse: collapse;
}
#wrapper{
    width: 800px;
    height: auto;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 35px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
}
header > h3{
    float: left;
    font-weight: bold;
    color: #777;
    margin-top: 10px;
    margin-left: 10px;
}
#user.register{
    width: 600px;
    height: auto;
    margin: 60px auto;
    overflow: hidden;
}
#user.register table{
    width: 100%;
    border-top: 2px solid #111;
    border-spacing: 0;
    margin-bottom: 10px;
}
#user.register table input{
    width: 162px;
    height: 22px;
    border: 1px solid #e4eaec;
    background: #f7f7f7;
    text-indent: 6px;
}
#user.register table caption{
    padding: 10px 0;
    font-weight: bold;
    text-align: left;
}
#user.register table td:nth-child(1){
    width: 80px;
    background: #f5f8f9;
} 
#user.register table div:nth-child(2) > input {
    width: 320px;
}
#user.register table div:nth-child(3) > input {
    width: 320px;
}
#user.register table td {
    padding: 6px 12px;
    border: 1px solid #e9e9e9;
}
#user.register table input{
    margin: 2px 0;
}
#user.register table button {
    border: none;
    vertical-align: middle;
    margin-left: 3px;
}
#user.register > form >div {
    float: right;
    margin-top: 10px;
}
footer{
    width: 100%;
    height: 35px;
    background-color: #f7f7f7;
    border-top: 1px solid #ebebeb;
}
footer > p {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    color: #777;
}


/* 글목록 */
*{
    margin: 0px;
    padding: 0px;
    font: normal 12px '돋움';
}
#wrapper{
    width: 800px;
    height: auto;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 35px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
}   
header > h3 {
    float: left;
    font-weight: bold;
    color: #777;
    margin-top: 10px;
    margin-left: 10px;
}
header > p {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
#board > .list {
    width: 720px;
    height: auto;
    margin: 60px auto;
    overflow: hidden;
}
#board table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;

}
#board table th{
    width: auto;
    height: 40px;
    background: #e5ecef;
    border-bottom: 1px solid #d1dee2;
}
#board table > caption{
    text-align: left;
    margin-bottom: 6px;
}
#board > .list > table td{
    padding: 12px 6px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
}
#board > .list > table td:nth-child(1){
    width: 50px;
    text-align: center;
    background: #fff;
}
#board > .list > table td:nth-child(2){
    text-align: left;
}
#board table td:nth-child(3){}
#board table td:nth-child(4){}
#board table td:nth-child(5){}
#board > .list > .page{
    text-align: center;
    margin-top: 10px;
}
#board > .list > .page > a{
    display: inline-block;
    padding: 8px;
    border: 1px solid #d7d7d7;
    background: #f2f2f2;
    
}

#board > .list > .page > .prev{}
#board > .list > .page > .next{}
#board > .list > .page > .num{}
#board > .list > .page > .current{
    border: 1px solid #6d6d6d;
    background-color: #888;
    color: #fff;
}
#board > .list > a {
   float: right;
}
footer{
    width: 100%;
    height: 35px;
    background-color: #f7f7f7;
    border-top: 1px solid #ebebeb;
}
footer > p {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    color: #777;
}

/* 글쓰기 */
#wrapper{
    width: 800px;
    height: auto;
    margin: 0 auto;
}
#board > .write {
    width: 720px;
    height: auto;
    margin: 60px auto;
    overflow: hidden;
}
#board caption {
    float: left;
    margin-bottom: 6px;
}
#board table tr:nth-child(1) {
    border-top: 2px solid black;
}
#board table td {
    border-bottom: 1px solid #e9e9e9;
}
#board table td:nth-child(1){
    width: 100px;
    padding: 12px 6px;
    background: #f5f8f9;
    text-align: center;
}
#board > .write > table td:nth-child(2) {
   padding: 5px 10px;
}


#board table .title {
border: none;
padding-left: 5px;
}
#board table textarea {
width: 100%;
height: 280px;
resize: none;
border: 0;
padding: 10px;
}
#board table input{
margin-left: 5px;
}
#board > .write div {
margin-top: 10px;
text-align: right;
}

/* 글보기 */
#viewboard {
    width: 720px;
    height: auto;
    margin: 60px auto;
}
#viewboard > .view > table {
    width: 100%;
}
#viewboard > .view > caption{
    float: left;
}
#viewboard > .view > table {
    border-top: 2px solid #000;
    margin-top: 10px;
}
#viewboard > .view > table td{
    padding: 12px 6px;
    border-bottom: 1px solid #e9e9e9 ;
}
#viewboard > .view > table td:nth-child(1){
    width: 100px;
    background: #f5f8f9;
    text-align: center;
}
#viewboard > .view > table input {
    border: none;
}
#viewboard > .view > table textarea{
    width: 100%;
    height: 280px;
    resize: none;
    border: 0;
}
#viewboard > .view > div {
    text-align: right;
    padding: 10px 0;
}
#viewboard > .commentList {
   padding: 20px;
   border: 1px solid #e3e3e3;
   background: #f9f9f9;
   margin-bottom: 16px;
}
#viewboard > .commentList > h3{
    font-weight: bold;
}
#viewboard > .commentList > article {
    border-top: 1px dotted #999;
    margin-top: 10px;
    padding-top: 10px;
}    
#viewboard > .commentList > article >textarea {
    width: 100%;
    height: 60px;
    border: none;
    padding: 6px;
    box-sizing: border-box;
    background: rgba(0,0,0,0);
    resize: none;
}
#viewboard > .commentList > article > div {
    text-align: right;
}
#viewboard > .commentList > .empty {
    text-align: center;
    padding: 20px 0;
}
#viewboard > .commentForm {
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #e3e3e3;
}
#viewboard > .commentForm > h3 {
    font-weight: bold;
}
#viewboard > .commentForm > form > textarea {
    width: 100%;
    height: 60px;
    border: 1px solid #e4eaec;
    resize: none;
    background: #fff;
    margin: 10px 0; 
    padding: 10px;
    box-sizing: border-box;   
   
}
#viewboard > .commentForm > form > div {
    text-align: right;
}
/* 글수정 */
#board > .modify {
    width: 720px;
    height: auto;
    margin: 60px auto;
    overflow: hidden;
}
#board > .modify > div {
    text-align: right;
    margin-top: 10px;
}


/* 버튼 공통 마지막 취소 다음 */
.btn {
    display: inline-block;
    padding: 10px;    
    border: 1px solid #bebebe; 
    text-align: center;
}
.btnCancel {background: #fdfdfd; border: 1px solid #bebebe; }
.btnNext {background-color: #e9e9e9; }
.btnRegister {width: 62px;}
.btnWrite {border: 1px solid #3b3c3f; background: #4b545e; color: #fff;}
.btnModify {border: 1px solid #3b3c3f; background: #4b545e; color: #fff;}
